.im .ourinterestingstory {
	text-align: left;
	color: black;
	padding-left: 10em;
	padding-top: 10em;
	font-size: ;
}

.im .howdoesitwork {
	text-align: center;
	font-family: "Roboto", sans-serif;
	margin-top: 10em;
	margin-bottom: 10%;


}

.im .graytext {
	color: #bfbfbf;
	font-family: "Roboto", sans-serif;
}

.im .centralizer {
	margin-left: 12%;
	margin-right: 12%;

}

.im .textoum {
	padding-right: 10em;
	padding-top: 6em;
}
.im .spacing {
	padding-top: 4em;
	/*width: 25em;*/
}

.im .tamanhodafonte {}

.im .rowwidth {
	padding-left: 10em;
	padding-right: 10em;
}