/*Mercury e texto*/

.ph .mercury{
  padding-bottom:110px;
}


/*pedro, coloquei pra ver se arruma o problema*/
.ph .anelzao{
    width: 10em;
    height: 10em;
}



/*WHY CHOOSE WE*/

.ph .chooseWe{
  margin-left: 0em;
  margin-right: 8em;
  margin-top: 0em;
}
