nav.pl {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0);
    height: 5em;
    padding: 1.5em;
}

nav.pl a {
    color: #FFF;
}

nav.pl a:hover {
    color: #DDD;
}

nav.pl a:visited {
    color: #EEE;
}

nav.pl a:active {
    color: #EEE;
}

.logo.pl {
    color:#FFF;
    font-size: 16pt;
    font-weight: 700;
}

#banner.pl {
    display: block;
    margin-bottom: 3em;
}

#banner.pl img {
    max-width: 100%;
    height: auto;
}

#banner.pl .title {
    position: absolute;
    top: 14em;
    display: block;
    color:#FFF;
}

#banner.pl .title h1 {
    font-size: 32pt;
    font-weight: 700;
}
#banner.pl .title h5 {
    font-size: 12pt;
}





footer.pl{
    display: block;
    background-color: #1E1E1E;
    padding:4em;
}

footer.pl a,p{
    color:#333
}
